<!-- > structures/header -->
<div class="navbar-fixed nav-extended">
  <nav>
    <div class="nav-wrapper container">
      <ul class="left">
        <li><a href="#" class="sidenav-trigger" data-target="navigation-sidenav" style="display: block; margin: 0;">
          <i class="material-icons left">menu</i>
          menu
        </a></li>
      </ul>
      <ul class="right">
        {{#if user}}
          <li><a href="#" class="dropdown-trigger" data-target="user-dropdown">
            {{#if user.avatar}}<img class="circle" src="/account/user/{{user._id}}/avatar" alt="avatar" />{{/if}}
            <span>
              {{#ifAdmin user}}
                <span class="badge left">admin</span>
              {{else}}
                <!-- no admin -->
              {{/ifAdmin}}
              {{user.username}}#{{user.tag}}
            </span>
          </a></li>
        {{else}}
          <li>
            {{> 'structures/modals/login' redirect=true}}
          </li>
          <li>
            {{> 'structures/modals/register' redirect=true }}
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="navigation-sidenav" data-edge="left">
{{> 'structures/navigation'}}
</ul>

{{#if user}}
<ul class="dropdown-content" id="user-dropdown">
  <li><a href="#">cat</a></li>
</ul>
{{/if}}
<!-- < structures/header -->